.main{
	background: url('img/port_backnum2.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}
.page2{
	background: url('img/portfolio-back.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}
.page3{
	background: url('img/port_back_3.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}
body{
	background: #999999;
	padding: 0px;
	
}
.emptySpace{
	height:300px;
	width:100%;
}
.text{
	color: #fe3c00;
	text-decoration: underline;
}
.center{
	text-align:center;
}
.top{
	padding-top:120px;
}