.main{
	background: url('img/port_backnum2.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}
.page2{
	background: url('img/portfolio-back.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}
.page3{
	background: url('img/port_back_3.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}
.ecom{
	background: url('img/portfolio-inverted.png');
	background-repeat: no-repeat;
	padding: 0px;
	background-attachment:fixed;
}

.top{
	padding-top:10px;
}

.headingBox{
	  border-radius: 30px ;
    background: #2d4c5c;
    padding: 0px; 
   
	border:3px solid black;
}

.imgBox{
	border-radius: 30px ;
    background: #67a8c8;
    padding: 20px;
	border:3px solid black;
}
.inBox {
    border-radius: 30px ;
    background: #67a8c8;
    padding: 0px; 
   
	border:3px solid black;
}
.border{
	border:3px solid black; background:#999999;
}
body{
	background: #999999;
	padding: 0px;
	
}
.emptySpace{
	height:300px;
	width:100%;
}
.text{
	color: #fe3c00;
	text-decoration: underline;
}
.center{
	text-align:center;
}
.top{
	padding-top:120px;
}
.right{
	float:right; 
}