html{
	
	margin: 5px;
}
body{
	background-color:#c8c9a3;
	background-image:url(../assets/img/sheild.jpg);
	
}
h1{
	color:#ff0000;
	font-style:italic;
	background-color:#cccccc;
}
table{
	border:5px;
}
.middle{
	text-align:center;
}